button { /*take note of curvy bracket!*/
    display: block;
    margin-top: 15px;
}

img {
    width:20%;
}


@media only screen and (max-width: 1000px) {
    /* #content>*{
        font-size: 100%;
    }

    #content h1{
        font-size: 100%;
    }

    input[type="radio"]{
        -ms-transform: scale(2); 
        -webkit-transform: scale(2); 
        transform: scale(2);
    }

    label{
        font-size: 3rem;
    } */

    img{
        width: 70%;
    }

    video{
        width: 100%;
        height: auto;
    }
  }
